.jumbotron {
    background-image: url("../img/help.jpg");
    background-color: #17234E;
    margin-bottom: 0;
    margin-top: 0px !important;
    min-height: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 550px ;
    border-radius: 0px !important;


}

.introduction {
    position: absolute;
    left: 50%;
    top: 65%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}